Repository meeday/The-Music-App, pull requests merged in 2020-05, with the labels that each got.

#21 AJAX calls for last fm api
  assets/script.js
  assets/style.css
  index.html
Labels: Functional

#67 added modal links to the tracks in artist search page
  assets/script.js
Labels: Functional

#90 fixed .clear() error
  assets/script.js
Labels: bug

#91 track links color changed to white
  assets/style.css
Labels: enhancement

#93 responsiveness is mobile first
  assets/style.css
  index.html
Labels: UI related

#101 Jacob/feat/error handlers for ajax calls
  assets/script.js
  assets/style.css
  index.html
Labels: Functional, enhancement

#110 Error message consistency
  assets/script.js
Labels: Functional, bug

#116 Jacob/docs/updating readme
  README.md
Labels: documentation

#117 Adding some automation
  .github/labeler.yml
  .github/workflows/label.yml
  .github/workflows/stale.yml
Labels: enhancement

#118 modal links added
  assets/style.css
  index.html
Labels: Functional, UI related

#119 added artist name on hover for album search page and album title on top-albums section of artist search page
  assets/script.js
  assets/style.css
  index.html
Labels: UI related

#120 links are now intuitive
  assets/script.js
  assets/style.css
  index.html
Labels: UI related, enhancement

#124 Ian/feature/filling artist info modal
  .gitignore
  assets/script.js
  index.html
Labels: Functional

#112 Drg/feature/audd.io ajax call
  assets/script.js
  assets/style.css
  index.html
Labels: Functional, UI related

#128 removed ids in for loop modal-triggers
  assets/script.js
Labels: Cleanup

#131 Meeday/u ipatch/save images to repo
  assets/images/landing-background.jpeg
  assets/images/results-background.jpg
  assets/style.css
Labels: Cleanup, UI related

#132 Drg/feature/filling artist modal
  assets/script.js
  assets/style.css
  index.html
Labels: UI related

#135 Jacob/refactoring/housekeeping
  .github/labeler.yml
  .github/workflows/stale.yml
  README.md
  assets/script.js
  assets/style.css
  index.html
Labels: Cleanup, UI related

#129 added title attributes to track links for intuitiveness
  assets/script.js
  assets/style.css
Labels: Cleanup, UI related, enhancement

#136 Drg/feature/album modal function
  assets/script.js
  assets/style.css
  index.html
Labels: UI related

#138 Added deployment link
  README.md
Labels: documentation

#139 removed variable
  assets/script.js
Labels: Cleanup

#140 Removed unused variables
  assets/script.js
  assets/style.css
Labels: Functional, bug

#142 Changed all ajax calls to use https
  assets/script.js
Labels: Functional, bug

#143 Meeday/cleanup/css structure improved
  assets/style.css
Labels: Cleanup, UI related

#144 Drg/bug/album modal fix
  assets/script.js
Labels: Functional, bug

#145 html validated
  assets/script.js
  index.html
Labels: Cleanup
